.vacation {
    text-align: center;
    @media (min-width: 820px) {
        text-align: left;
    }

    .container {
     display: flex;
     flex-wrap: wrap;
     column-gap: 20px;
     text-align: left;
     justify-content: center;
     @media (min-width: 1024px) {
         text-align: left;
     }
    }

    a {
        text-decoration: none;
        color: $btnColor;
        margin-right: 0;
    }
    
    h2 {
        @media (min-width: 1440px) {
            margin-left: 220px;
            text-align: left;
        }
    }
}

.vacation_item {
    width: 290px;
    height: 441px;
    margin: 10px 0;
    text-align: center;
    padding: 30px 0;
    border: 1px solid #C5C9D5;
    border-radius: 10px;
    @media (min-width: 820px) {
        margin: 10px 5px;
    }
    @media (min-width: 1024px) {
        text-align: left;
        width: 100%;
        height: 160px;
        display: flex;
        padding: 30px;
        margin-left: auto;
        align-items: center;
    }

    &_title {
        margin-left: 15px;

        &_uptitle {
          font-weight: 700;
        }

        &_subtitle {
          font-weight: 400;
          font-size: 14px;
          color: #111238;
          opacity: 0.8;
        }
}

.vacation_item_money {
        width: 113px;
        height: 39px;
        color: #FFFFFF;
        font-weight: 700;
        margin-left: auto;
        margin-right: auto;
        background-color: #1A75E8;
        border-radius: 5px;
        padding: 10px 24px 25px;
}

.requirements {
    margin-top: 25px;
    color: #B2B2B2;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        column-gap: 15px;
        margin-right: 85px;
        align-items: center;
    }

    .first_requirement {
        width: 100%;
    }

    .elements {
        margin-top: -5px;
        display: flex;
        gap: 5px;

        .requirement_element {
        border: 1px solid #B2B2B2;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 14px;
        color: #B2B2B2;
        }
    }
  } 
}

.end_button {
    width: 193px;
    height: 49px;
    margin-top: 40px;
    color:#FFFFFF;
    background: #1A75E8;
    border-radius: 5px;
    border: none;
}